<footer class="site-footer">
  <div class="container footer-grid">
    <div class="footer-cell left">
      <small>© <span id="year"></span> Mike MacDonagh. All rights reserved.</small>
    </div>
    <div class="footer-cell right">
      <a href="https://linkedin.com/in/michaelmacdonagh/" class="footer-link">LinkedIn</a>
      <a href="https://github.com/MechMadHog" class="footer-link">GitHub</a>
      <a href="https://codepen.io/Mike-MacDonagh" class="footer-link">CodePen</a>
      <a href="https://www.behance.net/mikemacdonagh" class="footer-link">Behance</a>
      <a class="footer-link" href="{{ '/feed.xml' | relative_url }}">RSS</a>
    </div>
  </div>
</footer>
