<footer class="bg-dark text-white py-3 fixed-bottom">
  <div class="container">
    <div class="row align-items-center text-center text-lg-start">
      
      <!-- Empty column on the left to balance layout -->
      <div class="col-12 col-lg-4 mb-2 mb-lg-0"></div>

      <!-- Centered copyright -->
      <div class="col-12 col-lg-4 mb-2 mb-lg-0 text-center">
        <small>&copy; {{ site.time | date: "%Y" }} Mike MacDonagh. All rights reserved.</small>
      </div>

      <!-- Right-aligned social links -->
      <div class="col-12 col-lg-4 text-center text-lg-end">
        <a href="https://github.com/MechMadHog" class="text-white me-2"><i class="fab fa-github"></i></a>
        <a href="https://linkedin.com/in/michaelmacdonagh/" class="text-white me-2"><i class="fab fa-linkedin"></i></a>
        <a href="https://x.com/MechMadHog" class="text-white me-2"><i class="fab fa-x-twitter"></i></a>
        <a href="https://www.instagram.com/mechanicalmadhog/" class="text-white me-2"><i class="fab fa-instagram"></i></a>
        <a href="https://www.deviantart.com/mechmadhog" class="text-white"><i class="fab fa-deviantart"></i></a>
      </div>

    </div>
  </div>
</footer>
